<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GGsBot | Discord Bot</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/images/circular_icon.ico">
</head>
<body>
    <header>
        <a href="/" class="logo">
            <img src="/static/images/logo.png" alt="logo">
        </a>
        <nav>
        </nav>
        <a class="button font-nunito-bold" href="/invite">Invite GGsBot</a>
    </header>
    <div class="container-main">
        <div class="content">
            <div class="left">
                <h1 class="font-syne-bold">GGsBot - Multipurpose discord bot </h1>
                <p class="font-nunito-bold">GGsbot is a highly customizable bot that can be used for various purposes such as moderation, automation, and more.</p>
                <a class="button font-nunito-bold" href="/invite">Invite GGsBot</a>
            </div>
            <img class="mascotte" src="/static/images/mascotte.png" alt="mascotte">
        </div>
    </div>
    
    <div class="container-features">
        <h2 class="font-syne-bold">Key Features</h2>
        <div class="cards font-nunito-bold">
            <div class="card">
                <h3>Moderation</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Corporis quasi aperiam distinctio aliquid repellat ad. 
                    Quia molestias reiciendis, incidunt quas minima, aut, et 
                    veniam dolor doloribus exercitationem libero ea inventore.</p>
            </div>
            <div class="card">
                <h3>Fun and Games</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Corporis quasi aperiam distinctio aliquid repellat ad. 
                    Quia molestias reiciendis, incidunt quas minima, aut, et 
                    veniam dolor doloribus exercitationem libero ea inventore.</p>
            </div>
            <div class="card">
                <h3>Utilities</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Corporis quasi aperiam distinctio aliquid repellat ad. 
                    Quia molestias reiciendis, incidunt quas minima, aut, et 
                    veniam dolor doloribus exercitationem libero ea inventore.</p>
            </div>
        </div>
    </div>
    
    <div class="container-commands">
        <h2 class="font-syne-bold">Available commands</h2>
        <div class="cards font-nunito-bold">
            <div class="card">
                <h3>Moderation</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Corporis quasi aperiam distinctio aliquid repellat ad. 
                    Quia molestias reiciendis, incidunt quas minima, aut, et 
                    veniam dolor doloribus exercitationem libero ea inventore.</p>
            </div>
            <div class="card">
                <h3>Fun and Games</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Corporis quasi aperiam distinctio aliquid repellat ad. 
                    Quia molestias reiciendis, incidunt quas minima, aut, et 
                    veniam dolor doloribus exercitationem libero ea inventore.</p>
            </div>
            <div class="card">
                <h3>Utilities</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Corporis quasi aperiam distinctio aliquid repellat ad. 
                    Quia molestias reiciendis, incidunt quas minima, aut, et 
                    veniam dolor doloribus exercitationem libero ea inventore.</p>
            </div>
        </div>
    </div>

    <div class="container-pp">
    </div>

    <div class="container-tos">
    </div>

    <footer>
    </footer>
</body>
</html>