<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>

        <link rel="icon" href="/static/images/circular_icon.ico">
        <link rel="stylesheet" href="/static/css/template.css">
        <script src="/static/js/template.js"></script>
        {% block script %}{% endblock script %}
        {% block style %}{% endblock style %}
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <a href="/">
                        <img src="./static/images/circular_icon.ico" alt="GGsBot Logo">
                    </a>
                </div>
                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/docs">Docs</a></li>
                        <li><a href="/support">Support</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                <button class="nav-invite-button">Invite GGsBot</button>
            </div>
        </nav>

        {% if underconstruction %}
            <!-- Se il blocco content non è stato definito, verrà mostrato il messaggio sotto -->
            <div class="under-construction">
                <div>
                    <div class="icon">🚧</div>
                    <h1>Questa pagina è sotto costruzione!</h1>
                    <p>Ci stiamo lavorando, torna presto!</p>
                </div>
            </div>
        {% else %}
            {% block content %}
            {% endblock content %}
        {% endif %}

        <footer>
            <div class="content">
                <p>&copy; 2025-now <a href="https://github.com/GitGinocchio" target="_blank">Giulio</a>. Tutti i diritti riservati.</p>
                <ul class="links">
                    <li><a href="/terms-of-service">Termini di servizio</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>